<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
음식점 리스트 보여주는 화면
<body>
<table id="userTable" style="border: 1px solid">
    <thead>
    <tr>
        <th>id</th>
        <th>이름</th>
        <th>위치</th>
        <th>일일이윤</th>
        <th>주간이윤</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${list}">
        <td th:text="${user.id}"></td>
        <td><a th:href="@{/res/restaurantStatus(id=${user.id})}"><span th:text="${user.name}"></span></a></td>
        <td th:text="${user.location}"></td>
        <td th:text="${user.daily_profit}"></td>
        <td th:text="${user.weekly_profit}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>